@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">Tranquilizate se rompió todo, llamá a los bomberos !!</h2>

<img src="https://media.giphy.com/media/ukqBV7WM4BQ4w/giphy.gif">
